@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer components {
    .ios-glass {
        @apply bg-white/80 backdrop-blur-xl backdrop-saturate-[180%];
    }
}

/* Hide scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}